body{
  background-image: url('../assets/img/dark_bg.png');
  background-size: cover;
  overflow-x: hidden;

}

a{
  text-decoration: none;
  text-decoration-color: white;
  color: white;
}

/* DIVISION */

h1 {
  display: flex;
  flex-direction: row;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;


}
h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;

  /* Start with zero width and then increase with animation */
  transform: scaleX(0);
  transform-origin: center;
  animation: growLine 1s ease forwards;
}
h1:before {
  margin-right: 20px
}
h1:after {
  margin-left: 20px
}

/* SMALL AND MEDIUM SCREENS */

.title div{

  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  margin: 2rem;
  height: 400px;

  display: flex;
  flex-direction: column;

  /* display: inline-block; */
  /* overflow: hidden;
  white-space: nowrap;
  animation: typing 2s linear 0s; */
  align-items: center;
  justify-content: center;
  
}

.main-container
{
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100vh; */
}

.section
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  
}
.section2
{
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1/5;

}

.section3
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;

}

.division{
  padding-bottom: 3%;
  padding-top: 3%;
}

.section2 img
{
  /* border-right: 30px; */
  padding-right: 25px;

}

#aboutMe
{
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  line-height: 1.5;
}


.project{

  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
  
  
}

.card{
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-color: white;
  padding: 22px 18px;
  color: black;
  opacity: 0.8;
  max-width: 80%;
  margin-bottom: 1rem;
}

.desktop-text
  {
    display: none;
  }

.project:hover
{
  transform: scale(1.05);
  transform-origin: center;
}


/* 
----------------------------------------------------------------
-------------------    LARGE SCREENS ---------------------------
----------------------------------------------------------------    
*/

@media screen and (min-width: 768px){

  #aboutMe{
    font-size: 1.7rem;
  }

  .desktop-text
  {
    display: block;
  }
  .mobile-text
  {
    display: none;
  }

  .title div{

    font-size: 4rem;
  }
  
}


/* ANIMATIONS */
@keyframes growLine {
  from{
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* @keyframes typing{
  from {
    width:0;
  }

  to {
    width: 150px;
  }
} */