body{
  background-image: url('../assets/img/dark_bg.png');
  background-size: cover;
  overflow-x: hidden;

}

a{
  text-decoration: none;
}

/* SMALL AND MEDIUM SCREENS */

.main-container
{
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.section
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.section2
{
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1/5;

}

.section2 img
{
  /* border-right: 30px; */
  padding-right: 25px;

}

#aboutMe
{
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  line-height: 1.5;
}


.project{

  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
  
  
}

.card{
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-color: white;
  padding: 25px 20px;
  color: black;
  opacity: 0.8;
  max-width: 80%;
}

.desktop-text
  {
    display: none;
  }

.project:hover
{
  transform: scale(1.05);
  transform-origin: center;
}

/* LARGE SCREENS */
@media screen and (min-width: 768px){

  #aboutMe{
    font-size: larger;
  }

  .desktop-text
  {
    display: block;
  }
  .mobile-text
  {
    display: none;
  }
  
}